body {
    /* lettertype (ff + enter)*/
    font-family: sans-serif;
    /* achtergrond kleur (bgc + enter)*/
    background-color: gold;
}

h1 {
    font-size: 4rem;
}

.inspringen {
    margin-left: 40px;
}